<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.automute">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Xiaomi Arabic Contacts Fix"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="DEBUG build: traces Xiaomi Contacts text rendering to locate where Arabic contact-name whitespace is removed; mute-button hook retained." />
        <meta-data
            android:name="xposedminversion"
            android:resource="@integer/xposed_min_version" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
            
    </application>

</manifest>
